
:root{

/* Text colors */
    
    --primary-txt-cl: #2E2F42;
    --secondary-txt-cl: #434455 ;
    --other-txt-cl: #FFFFFF;
    --accent-txt-cl: #4D5AE5;

/* BG colors */

    --primary-bg-cl: #FFFFFF;
    --secondary-bg-cl: #2E2F42;
    --other-bg-cl: #F4F4FD;
    --accent-bg-cl: #4D5AE5;

/* Others */

    --primary-other-cl: #404BBF;
    --secondary-other-cl: #E7E9FC;
    --other-cl: #F4F4FD;
    --light-slate: #8E8F99;
    --green-blue: #31D0AA;
    --modal-window: #FCFCFC;
    --black-cl: #000000;

/* Block model */

    --items: 3;
    --idnent: 24px; 
    --main-items: 4;
    --trns-fast: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    --trns-slow: 800ms cubic-bezier(0.4, 0, 0.2, 1);

}

html{
    scroll-behavior: smooth;
}
body{
    background-color: var(--primary-bg-cl);
    color: var(--primary-txt-cl);
    letter-spacing: 0.02em;
    font-family: 'Roboto', sans-serif;
}
/* Header */

.header{
  
    border-bottom: 1px solid #E7E9FC;
    
    width: 100%;
    background-color: var(--primary-bg-cl)
} 
.header-container{
    display: flex;
    align-items: center;
    padding-left: 0px;
    padding-right: 0px;
}
.logo{
    font-size: 18px;
    line-height: calc(24/18);
    font-family: 'Raleway', sans-serif;
    color: var(--accent-txt-cl);
    letter-spacing: 0.03em;

}

.header-logo{
    font-size: 18px;
    line-height: calc(24/18);
    font-family: 'Raleway', sans-serif;
    color: var(--accent-txt-cl);
    letter-spacing: 0.03em;
    margin-right: 76px;
    padding-top: 24px;
    padding-bottom: 24px;
}
.studio-letter{
    color: var(--primary-txt-cl);
}
.header-item{
    font-weight: 500;
    color: var(--primary-txt-cl);
    text-decoration: none;
    line-height:calc(24/16);
    padding-top: 24px;
    padding-bottom: 24px;
    position: relative;
    display: block;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
    
}
.header-list{
    display: flex;
    align-items: center;
    gap: 40px;
    list-style: none;   
    padding-left: 0px;
}

.header-nav{
    display: flex;
    align-items: center;
    gap: 40px;
    margin-right: auto;
}

.current{
    color: var(--primary-other-cl);
}

.header-item.current::after{
    position: absolute;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--primary-other-cl);
    bottom: 0;
    left: 0;

}

.address{
    color: var(--secondary-txt-cl);
    text-decoration: none;
    font-style: normal;
    line-height: calc(24/16);
    margin-right: 40px;
    padding-top: 24px;
    padding-bottom: 24px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.address:hover,
.address:focus {
 color: var(--primary-other-cl);
}

.number{
    color: var(--secondary-txt-cl);
    text-decoration: none;
    font-style: normal;
    line-height: calc(24/16);
    padding-top: 24px;
    padding-bottom: 24px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.number:hover,
.number:focus{
    color: var(--primary-other-cl);
}
.link{
    text-decoration: none;
}
.link:hover,
.link:focus{
    color: var(--primary-other-cl);
}
.url{
    list-style: none;
}
.list{
    list-style: none;
    flex-basis: calc((100% - var(--idnent) * 2) / var(--main-items));
}   
.links{
    font-weight: 500;
    color: var(--primary-txt-cl);
    text-decoration: none;
    line-height:calc(24/16);
}

/* Hero section */

.caption{
    width: 494px;
    color: var(--other-txt-cl);
    font-size: 56px;
    line-height: calc(60/56);
    text-align: center; 
    margin: 0 auto;
    margin-bottom: 48px;
    animation: move-right 1000ms ease-out 500ms 5 alternate both;
   
}

.hero-sec{
    background-color: var(--secondary-bg-cl);
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),url(../images/people-office.png);
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    background-position: center;
    background-repeat: no-repeat;
}
.hero-container{
    margin: 0 auto;
}
.hero-button{
    background-color: var(--accent-bg-cl);
    cursor: pointer;
    color: var(--other-txt-cl);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(24/16);
    padding: 16px 32px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin: 0 auto;
    display: flex;  
    border: none;
    letter-spacing: 0.04em;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus{
    background-color: var(--primary-other-cl);
} 

/* First section */

.main-links{
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 8px;
}

.feature{
    width: 264px;
    height: 112px;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 4px;
    background-color: var(--other-bg-cl);
}

.first-sec{
    display: flex;
    gap: 24px;
    align-items: center;  
}
.pharagraphs{
    color:var(--secondary-txt-cl);
    line-height: calc(24/16);
    margin-top: 8px;
}
.point{
    font-size: 20px;
    line-height: calc(24/20);
    letter-spacing: 0.02em;
    font-weight: 500;
    margin-bottom: 8px;   
}
.rectangles{
    
    background-color: var(--other-bg-cl);
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 4px;

}

/* Second section */

.second-sec{
    align-items: center;
    display: flex;
    gap: 24px;
    margin-top: 72px;
    
    padding-left: 0px;
}
.text{
    font-size: 36px;
    line-height: calc(40/36);  
    color:var(--primary-txt-cl);
    letter-spacing: 0.02em;
    text-align: center;
}

/* Third section */

.third-sec{
    background-color: var(--other-bg-cl);
    
    
}
.banner{
    font-size: 36px;
    line-height: calc(40/36);
    color: var(--primary-txt-cl);
    letter-spacing: 0.02em;
    text-align: center;
}
.boxes{
    padding-top: 32px;
    padding-bottom: 32px;
}
.names{
    font-size: 20px;
    line-height: calc(24/20);
    letter-spacing: 0.02em;
    font-weight: 500;
    text-align: center;
    margin-bottom: 8px;
    margin: 0 auto;
}
.subjects{
    color:var(--secondary-txt-cl);
    line-height: calc(24/16);
    margin: 0 auto;
    text-align: center;
    margin-top: 8px;
    margin-bottom: 8px;
}
.team{
    align-items: center;
    display: flex;
    gap: 24px;
    padding-left: 0px;
    margin-top: 72px;
}
.society-items{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}
.society-links{
    width: 40px; 
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--accent-bg-cl);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.society-links:hover,
.society-links:focus{
    background-color: var(--primary-other-cl);
}
.border-box{
    background: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px; 
}   
.member{
    width: 264px;
    height: 380px;
}

/* Fourth section */

.custom-items{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    margin-top: 72px;
}
.border-customers{
    width: 168px;
    height: 88px;
}
.custom-links{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--light-slate);
    border-radius: 4px;
    fill: var(--light-slate);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.custom-icon{
    width: 104px;
    height: 56px; 
}   
.custom-links:hover,
.custom-links:focus{
    border: 1px solid #404BBF;
    border-radius: 4px;
    fill: var(--primary-other-cl);
  
}

/* Footer */


.footer{
    font-size: 18px;
    line-height: calc(21/18);
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: var(--secondary-bg-cl);
}
.footer-logo{
    font-size: 18px;
    line-height: calc(24/18);
    font-family: 'Raleway', sans-serif;
    color: var(--accent-txt-cl);
    letter-spacing: 0.03em;
}
.desc{
    color: var(--secondary-other-cl);
    font-size: 16px;
    line-height: calc(24/16);
    letter-spacing: 0.02em;
    width: 264px;
    margin-top: 16px;
    margin-left: 0px;
}


.studio-letter-2{
    color: var(--other-cl);
}
.society-footer{
    display: flex;
    justify-items: center;
    gap: 16px;
}
.social-media{
    color: var(--other-txt-cl)  ;
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: calc(24/16);
}
.soc-links{
    width: 40px; 
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.1);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.soc-links:hover,
.soc-links:focus{
    background-color: var(--green-blue);
}
.social-media-container{
    display: flex;
}
.left-side-footer{
    width: 264px;
}
.right-side-footer{
    width: 208px;
    margin-left: 120px;
}

/* Modal window */

.backdrop{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(46, 47, 66, 0.4);
    transition: opacity var(--trns-fast);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden{
    opacity: 0;
    pointer-events: none;
    visibility: opacity var(--trns-fast);
    
}
.modal{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 408px;
    height: 576px;
    min-height: 576px;
    background-color: var(--modal-window);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transform: translate(-50%, -50%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 400ms, opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.modal-btn{
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    background-color: var(--secondary-other-cl);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    
}
.modal-btn:hover,
.modal-btn:focus,
.modal-icon:hover,
.modal-icon:focus{
    background-color: var(--primary-other-cl);
    fill: var(--other-txt-cl);
   
}
/* .modal-icon:hover,
.modal-icon:focus{
    fill: var(--other-txt-cl);
} */
/* Portfolio */

.flex-basis{
    flex-basis: calc((100% - var(--idnent) * 2) / var(--items));
}

.buttons-list{
    padding: 12px 24px;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    background-color: var(--other-cl);
    color: var(--accent-bg-cl);
    letter-spacing: 0.04em;
    font-weight: 500;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;  
    cursor: pointer;  
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}
.buttons-list:hover,
.buttons-list:focus{
    color: var(--other-txt-cl);
    background-color: var(--primary-other-cl);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.cards{
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);


}
.cards:hover,
.cards:focus{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.images{
    display: block;
    
}
.overlay-box{
    position: relative;
    overflow: hidden;
}
.overlay-box-text{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--accent-bg-cl);
    transform: translateY(100%);
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  } 
  .overlay-text{
    width: 296px;
    margin-left: 32px;
    margin-top: 40px;
    font-weight: 400;
    font-size: 16px;
    line-height: calc(24 / 16);
    color: var(--other-bg-cl);
}
.portfolio-card-link{
    
}
.overlay-box-text:hover,
.overlay-box-text:focus{
    transform: translateY(0);
}
/* .overlay-box:hover,
.overlay-box:focus{
    transform: translateY(0);
} */
.portfolio-card-link:hover,
.portfolio-card-link:focus,
.overlay-box-text:hover,  
.overlay-box-text:focus{  
    transform: translate(0);      
}
/* .over:hover,
.overl:focus{
    transform: translateY(0);
} */
.features{
    font-size: 20px;
    line-height: calc(24/20);
    color: var(--primary-txt-cl);
    letter-spacing: 0.02em;
    font-weight: 500;
    margin-top: auto;
    
}

.profession{
    width: calc(100% - var(--idnent) * 2) /var(--items);
}

.container{
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    
}
.sec-btns{
    display: flex;
    justify-content: center;  
    gap: 24px;
    margin-bottom: 72px;
    margin-left: 0px;
    padding-left: 0px;
    list-style: none;
}
.sec-links{
    display: flex;
}
.flexbox-container{
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
    
}
.jobs{
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 16px;
    background: #FFFFFF;
    border-left: 1px solid #E7E9FC;
    border-right: 1px solid #E7E9FC;
    border-bottom: 1px solid #E7E9FC;
    
}
.border{
    background: #FFFFFF;


border: 1px solid #E7E9FC;
}
.section{
    padding-top: 120px;
    padding-bottom: 120px;
    
}
.customers{
    padding-top: 130px;
}
.subtitle{
    padding-top: 0;
}
.upper{
    padding-top: 76px;
}
.cont-item{
    flex-basis: calc((100% - var(--idnent) * 2) / var(--items));
    list-style: none;
}
.borders{
    background: #FFFFFF;
    border: 1px solid #E7E9FC;
    
}
.backdown{
    padding: 0px;
    margin: 0px;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul{
    margin: 0 auto;
    padding: 0px;
    list-style: none;
}